<h1>Hola {{ info.email }}. Has sido invitado a
 nuestro sistema . En breve recibirás mas informacion. 
 Puede acceder con las siguientes credenciales:
 user: {{ info.email }}
 contraseña: {{ info.password }}
 </h1>